<template name = "dataCard">

	<div class="col-lg-3">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="label label-success pull-right"></span>
	            <h5>Machine State</h5>
	        </div>
	        <div class="ibox-content">
	            <h1 class="no-margins" id="state">
	            	<i class="fa fa-power-off fa-1x fa-fw"></i>{{state}}
	            </h1>
	            <div class="stat-percent text-success">{{ts}}</div>
	            <small>Machine Name</small>
	        </div>
	    </div>
	</div>

	<div class="col-lg-3">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="label label-success pull-right"></span>
	            <h5>Power</h5>
	        </div>
	        <div class="ibox-content">
	            <h1 class="no-margins" id="power">{{apower}}W</h1>
	            <!-- <div class="stat-percent text-success">{{ts}} <i class="fa fa-bolt"></i></div> -->
	            <small>Power</small>
	        </div>
	    </div>
	</div>

	<div class="col-lg-3">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="label label-success pull-right"></span>
	            <h5>Current</h5>
	        </div>
	        <div class="ibox-content">
	            <h1 class="no-margins" id="current">{{current}}A</h1>

	            <!-- <div class="stat-percent text-success">{{ts}} <i class="fa fa-bolt"></i></div> -->
	            <small>Current</small>
	        </div>
	    </div>
	</div>

	<div class="col-lg-3">
	    <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <span class="label label-success pull-right"></span>
	            <h5>Voltage</h5>
	        </div>
	        <div class="ibox-content">
	            <h1 class="no-margins" id="voltage">{{v12}}V</h1>

	            <div class="stat-percent text-success">{{ts}} <i class="fa fa-bolt"></i></div>
	            <small>Last updated: </small>
	        </div>
	    </div>
	</div>

</template>