<template name = "status_form">
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Rules For Machine Status (Based On Power Consumption)</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <form class="form-inline rules_form">
                    <div class="form-group">
                        <label>From</label>
                        <input type="text" name="from" class="form-control" placeholder="0" size="17">
                    </div>
                    <div class="form-group">
                        <label>To</label>
                        <input type="text" name="to" class="form-control" placeholder="0" size="17">
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" name="state" class="form-control" placeholder="ON/OFF/IDLE" size="17">
                    </div>
                    <button type="submit" class="btn btn-default">Save</button>
                </form>
                <hr>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>State</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Machine1_rules}}
                            <tr>
                                <td>{{rule.from}}</td>
                                <td>{{rule.to}}</td>
                                <td>{{rule.state}}</td>
                                <td>
                                    <button type="submit" class="btn btn-default rules_delete"><i class="fa fa-times rules_delete" aria-hidden="true"></i></button>
                                    <button type="submit" class="btn btn-default rules_delete"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</template>